h2.section {
  width: 20%;
  margin: 1% auto;
  font-size: 3em;
  font-weight: normal;
  font-family: $third-font;
  text-align: center;
  color: #fff;
  border-bottom: 2px solid #fff;
}
@media screen and (max-width: 720px) {
  h2.section {
    width: 50%;
  }
}
