$container = 980px

// Default colors

$default-color = #2A363B
$blue = #1C1B3A
$cyan = #076F7A
$pink = #B02B5A
$orange = #FA8E34
$beige = #DBD09A

// Shades of Grey

$light-grey = #eeeeee
$mid-grey = #bbbbbb
$dark-grey = #373737

// Font Sizes

$default-size = 1em
$title-size = 1.5em
$sub-size = 1.2em 

// Typography

$default-font = Verdana, Geneva, sans-serif
$second-font = 'Open Sans', sans-serif
@import 'https://fonts.googleapis.com/css?family=Caveat+Brush';
$third-font = 'Caveat Brush', cursive


// Queries

$tablet-size = 768px
$desktop-size = 1000px