@import '_core/variable';


@import 'organisms/basics';
@import 'organisms/header';
@import 'organisms/sobre';
@import 'organisms/skills';
@import 'organisms/portfolio';
@import 'organisms/contato'
@import 'organisms/footer';

@import 'atoms/container';
@import 'atoms/logo';
@import 'atoms/menu';
@import 'atoms/titles'


	
