.portfolio
	width 90%
	margin -1% auto 
	clear both
	text-align center
	padding-top 2em
	
	&-container
		width 100%
		background-color rgba(255,255,255,0.8)
		margin 0 auto 5% auto
		padding 10px
		z-index 2
		overflow hidden
		@media screen and (min-width: 820px)
			width 32%
			clear none
			display inline-block
			padding 0
			
		
		p
			font-family $second-font
			font-size 0.9em
			color $default-color
			margin 3%
		h3
			font-family $second-font
			color $cyan
			margin 3%
		a
			color $cyan
			text-decoration none
			
			
		a:hover
			color $pink
	
	&-img
		border-radius 5px
		width 287px
		height 142px
		margin 0 auto
		padding 3px
		@media screen and (min-width: 820px)
			width 327px
			height 187px
			padding 0
			margin -3px
		
		
