---
import { Icon } from 'astro-icon/components'
---

<footer>
  <p class="inline">Made with <Icon name="heart" color="#c4733d" /></p>
  <p>A place to share my hobbies, away from the noise of social media.</p>
  <p>All works © me. Made to be seen, not reused.</p>
  <ul class="social-links">
    <li>
      <a href="https://instagram.com/montalvaoeve"
        ><Icon name="instagram" color="#c4733d" /></a
      >
    </li>
    <li>
      <a href="https://strava.com/athletes/31136766"
        ><Icon name="strava" color="#c4733d" stroke-width={4} /></a
      >
    </li>
    <li>
      <a href="https://github.com/evemontalvao"
        ><Icon name="github" color="#c4733d" /></a
      >
    </li>
  </ul>
</footer>
<style>
  footer {
    padding: 2em 1em;
    background-color: #fff5ed;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer p {
    margin: 0;
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    width: 20%;
    border-top: 1px solid #c4733d;
    padding: 26px;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }

  .inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
</style>
