---
import '../styles/global.css'

const { id, data } = Astro.props
const hasMultipleImages = data.images && data.images.length > 0
---

<a href={`/${id}/`}>
  <div class={`post ${hasMultipleImages ? 'multiple-imgs' : ''}`}>
    <img src={data.heroImage?.src} alt="" />
    <h3>{data.title}</h3>
  </div>
</a>
<style>
  h3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: auto auto;
    width: 90%;
    transform: translate(-50%, -50%);
    font-family: 'Oranienbaum', serif;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
  }

  .post {
    position: relative;
    margin: 0 0 16px;
    cursor: pointer;

    img {
      border-radius: 0;
    }
  }

  .multiple-imgs:before {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-image: url('../assets/icons/layers.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    filter: brightness(0) invert(1);
  }

  .multiple-imgs img {
    border-radius: 0;
  }

  @media (min-width: 720px) {
    h3 {
      display: none;
      font-size: 48px;
    }

    .post:hover h3 {
      display: block;
    }
  }
</style>
