---
import '../styles/global.css'
import { Image } from 'astro:assets'

const { id, data } = Astro.props
const hasMultipleImages = data.images && data.images.length > 0
---

<a href={`/${id}/`}>
  <div class={`post ${hasMultipleImages ? 'multiple-imgs' : ''}`}>
    <img src={data.heroImage?.src} alt="" />
    <h3>{data.title}</h3>
  </div>
</a>
<style>
  h3 {
    font-size: 16px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 12px;
    display: none;
    margin: auto auto;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .post {
    position: relative;
    margin: 0 0 16px;
    cursor: pointer;

    &:hover h3 {
      display: block;
    }

    img {
      border-radius: 0;
    }
  }

  .multiple-imgs:before {
    content: '';
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-image: url('../assets/icons/layers.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    filter: brightness(0) invert(1);
  }

  .multiple-imgs img {
    border-radius: 0;
  }
</style>
