.contato {
  height: 70vh;
  width: 90%;
  padding: 2%;
  margin: 0 auto;
  background-color: $cyan;
}
@media screen and (min-width: 820px) {
  .contato {
    height: 40vh;
  }
}
.contato p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-family: $default-font;
  padding: 0;
}
.contato-container {
  width: 100%;
  float: left;
  padding: 4%;
}
@media screen and (min-width: 820px) {
  .contato-container {
    width: 50%;
    padding: 0;
  }
}
.contato-container h2 {
  color: #fff;
  font-size: 1em;
  font-family: $second-font;
  text-align: center;
}
.contato-container p {
  text-align: center;
  color: #fff;
  font-family: $default-font;
  line-height: 2em;
  padding: 0;
}
.contato-container p i {
  padding: 10px;
  color: #fff;
}
.contato-container p i:nth-of-type(1):hover {
  color: $blue;
}
.contato-container p i:nth-of-type(2):hover {
  color: $orange;
}
.contato-container p i:nth-of-type(3):hover {
  color: $cyan;
}
